.navbar {
  border-radius: 0;
  border: none;
  background-color: #1985A1;
  color: #ffffff;

  .navbar-header {

    .navbar-brand {
      color: #ffffff;
    }

    .navbar-toggle {
      border-color: #ffffff;

      .icon-bar {
        background-color: #ffffff;
      }

      &:hover, &:focus {
        border-color: #ffffff;
        background-color: #ffffff;

        .icon-bar {
          background-color: #1985A1;
        }
      }
    }
  }

  .navbar-collapse {
    border-color: #ffffff;

    .navbar-nav {
      a {
        color: #ffffff;
      }

      .active {
        a {
          color: #ffffff;
          background-color: #1a7f99;

          &:hover, &:focus {
            color: #ffffff;
            background-color: #166e84;
          }
        }
      }
    }
  }
}
