<div class="container profile">
  <div class="col-xs-12 col-sm-6 profile-info">
    <div class="profile-info-inner">
      <div class="profile-info-inner-cell">
        <div class="profile-pic-container">
          <img src="../assets/prof-pic.png" />
        </div>
        <h1>Hey, I'm Zach,</h1>
        <h4>a Senior Software Engineer</h4>
        <h4>working in Chicago for Slalom Consulting</h4>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/zacharywagner" target="_blank"><img class="linkedin" src="../assets/linkedin_circle_gray.png" /></a>
          <a href="https://github.com/zwagner86" target="_blank"><img class="github" src="../assets/github_circle_gray.png" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 skill-info">
    <div class="skill-info-inner">
      <div class="info-container">
        <div class="info-header">WHO?</div>
        <div class="info">
          <div class="description">
            Hey, what's up?  My full name is <span class="highlighted">Zachary</span> but you can call me <span class="highlighted">Zach</span>.  I am a <span class="highlighted">Senior Software Engineer</span> with <span class="highlighted">full-stack experience</span>, but a passion for working in the <span class="highlighted">front-end</span>.  For example, I made this page so I could play around with <span class="highlighted">Angular2</span> and <span class="highlighted">TypeScript</span>!
          </div>
        </div>
      </div>
      <div class="info-container">
        <div class="info-header">WHAT?</div>
        <div class="info">
          <div class="description">{{whatDescription}}</div>
          <div class="sub-info-container">
            <div class="sub-info-desc">Here are some languages I have experience with:</div>
            <div class="skills-list">
              <div class="skill" *ngFor="let language of languages">
                <div class="skill-label">
                  <div class="skill-text">
                    {{ language.name }} <i class="glyphicon glyphicon-star" *ngIf="language.star"></i>
                  </div>
                </div>
                <div class="image-block">
                  <div class="image-cell">
                    <img src="{{language.logoPath}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sub-info-container">
            <div class="sub-info-desc">And here are some frameworks, libraries, and tools I've used:</div>
            <div class="skills-list">
              <div class="skill" *ngFor="let framework of frameworks">
                <div class="skill-label">
                  <div class="skill-text">
                    {{ framework.name }} <i class="glyphicon glyphicon-star" *ngIf="framework.star"></i>
                  </div>
                </div>
                <div class="image-block">
                  <div class="image-cell">
                    <img src="{{framework.logoPath}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-container">
        <div class="info-header">WHERE?</div>
        <div class="info">
          <div><a href="https://www.slalom.com/locations/chicago" target="_blank">Slalom Consulting</a></div>
          <div>December 2012 - Present</div>
          <div>Chicago, IL</div>
          <div>Senior Software Engineer</div>
        </div>
      </div>
    </div>
  </div>
</div>
