<div class="container profile">
  <div class="col-xs-12 col-sm-6 profile-info">
    <div class="profile-info-inner">
      <div class="profile-info-inner-cell">
        <div class="profile-pic-container">
          <img src="../assets/prof-pic.png" />
        </div>
        <h1>Hey, I'm Zach,</h1>
        <h4>a Senior Software Engineer</h4>
        <h4>working in Chicago for Slalom Consulting</h4>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/zacharywagner" target="_blank"><img class="linkedin" src="../assets/linkedin_circle_gray.png" /></a>
          <a href="https://github.com/zwagner86" target="_blank"><img class="github" src="../assets/github_circle_gray.png" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 skill-info">
    <div class="skill-info-inner">
      <div class="info-container">
        <div class="info-header">WHO?</div>
        <div class="info">
          <div></div>
        </div>
      </div>
      <div class="info-container">
        <div class="info-header">WHAT?</div>
        <div class="info">
          <div>JavaScript</div>
          <div>Java</div>
          <div>Angular/Angular2</div>
          <div>React</div>
          <div>Spring</div>
        </div>
      </div>
      <div class="info-container">
        <div class="info-header">WHERE?</div>
        <div class="info">
          <div><a href="https://www.slalom.com/locations/chicago" target="_blank">Slalom Consulting</a></div>
          <div>December 2012 - Present</div>
          <div>Chicago, IL</div>
          <div>Senior Software Engineer</div>
        </div>
      </div>
    </div>
  </div>
</div>
