<profile-header></profile-header>
<div class="container profile">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="col-xs-12 col-sm-6">
      <div class="profile-pic-container">
        <img src="../assets/prof-pic.png" />
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="info-container">
        <h1>Zachary Wagner</h1>
        <h3>Software Engineer</h3>
        <p>Hello!  I am Zachary Wagner, a Software Engineer based out of Chicago, IL.</p>
      </div>
    </div>
  </div>
</div>
<profile-footer></profile-footer>
