<div class="col-xs-12 col-sm-6 profile-info">
  <div class="profile-info-inner">
    <div class="profile-info-inner-cell">
      <div class="profile-pic-container">
        <img src="../../assets/prof-pic.png" />
      </div>
      <h1>Hey, I'm Zach,</h1>
      <h4>a Senior Software Engineer</h4>
      <h4>working in Chicago for Slalom Consulting</h4>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/zacharywagner" target="_blank"><img class="linkedin" src="../../assets/linkedin_circle_gray.png" alt="LinkedIn Icon" /></a>
        <a href="https://github.com/zwagner86" target="_blank"><img class="github" src="../../assets/github_circle_gray.png" alt="GitHub Icon"/></a>
      </div>
      <div class="resume-link">
        <a href="http://resume.zacharywagner.net" target="_blank" class="btn btn-primary resume-btn">
          View Resume
        </a>
      </div>
    </div>
  </div>
</div>
